<div class="container">
  <div class="row">
    <div class="col-xl-5" >
        <app-create-group></app-create-group>
    </div>
    <div class="col-xl-7">
        <app-user-list></app-user-list>
    </div>
  </div>
</div>