<div class="create-group-section card">
    <div class="logo-section">
        <img class="logo" src="../../assets/logo.svg" alt="">
    </div>
    <div class="form-section">
        <div class="header-container">
            <h5>CREATE NEW GROUP</h5>
        </div>
        <div class="image-name-container">
            <div ngx-dropzone class="image-container" (change)="onSelect($event)" [disabled]="false" [expandable]="false">
                <div *ngIf="!file"class="placeholder">
                    <img src="../../assets/image.svg" alt="">
                </div>
                <div *ngIf="file"class="preview">
                    <img src="{{url}}" alt="">
                </div>
              
            </div>
            <div class="name-container">
                <p>GROUP NAME</p>
                <input [(ngModel)]="name" maxlength=20 type="text">
            </div>
            
        </div>
        <div class="description-container">
            <p>GROUP DESCRIPTION</p>
            <textarea [(ngModel)]="description" maxlength=120></textarea>
        </div>
    </div>
    <div class="floating-action-button card" (click)="showSuccess()">
        <img src="../../assets/done.svg" alt="">
    </div>
</div>
