.create-group-section{
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
}
.card{
    border-radius: none;
}

.logo-section{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
    
}

.logo{
    width: 40%;
}

.form-section{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.form-section p{
    font-size: 0.8rem;
    color: #7d7d7d;
}

.form-section input, textarea{
    background-color: #f1f1f1;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

.image-name-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    width: 70%;
}

.image-container{
    background-color: #f1f1f1;
    border-radius:0.5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 5px;

}


.placeholder, .preview{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.placeholder img{
    width: 50%;
    height: 50%;
}

.preview img{
    object-fit: cover;
    width: 5rem;
    height: 5rem;
}

.name-container{
    width:68%
}


.description-container{
    padding-top: 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.description-container textarea{
    width:100%;
    height: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.image-name-container input{
    width:100%;
    height: 3rem;
}

.floating-action-button{
    position: absolute;
    width:3.2rem;
    height: 3.25rem;
    background-color:#2caffe;
    border-radius:50%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right:-1.6rem;
    bottom: 15%;
    box-shadow: 1px 1px 10px #eeeeee;
    
}


.floating-action-button img{
    width: 50%;
    height: 50%;

}
