.user-list-section{
    width: 100%;
    height: 100vh;
}

.filter-section{
    padding-left: 5rem;
    height: 18%;
    width: 100%;
    display: flex;
    flex-direction:columns;
    align-items:center;
    
}

select{
    border: none;
    outline:none;
    background-color: #f4f4f4;
}

.dropdown{
    width:10rem;
    padding:0.5rem;
    border: 3px solid #2caffe;
    outline:none;
    border-radius: 0.5rem;
}

option{
    padding: 1rem;
}

.card-section{
    padding-left: 5rem;
    width: 100%;
    align-items: start;
	display: grid;
	grid-gap: 1.8rem;
	grid-template-columns: repeat(auto-fit, 10rem);
	justify-content: start;

}