<div class="user-list-section">
    <div class="filter-section">
        <div class="dropdown">
            <select (change)="onSortSelected($event.target.value)">
                <option *ngFor="let sort of sortOptions"
                [value]="sort.value">{{sort.name}}</option>
            </select>
        </div>
        
    </div>
    <div class="card-section">
        <div *ngFor="let user of users">
            <app-user-card [user]="user"></app-user-card>
        </div>
        
    </div>
</div>
