<div class="card" (click)="check()">
    <div class="card-body">
        <div class="card-body-left">
            <div *ngIf="!user.name.includes('User1') && !user.name.includes('User2')" class="card-image" style="background-image: url('{{user.Image}}');">
            </div>
            <div *ngIf="user.name.includes('User1') || user.name.includes('User2')" class="card-image-default">
                <p>{{user.name|slice:0:2}}</p>
            </div>
            <h5 class="card-title">{{user.name}}</h5>
            <p *ngIf="this.user.selected" class="card-text">in the team</p>
            <p *ngIf="!this.user.selected" class="card-text">not in the team</p>
        </div>
    </div>
  </div>

