.card{
    height: 10rem;
    width: 10rem;
    border-radius: 10%;
    border: var(--target-thickness) solid var(--target-color);
}

.card-body{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    
}

.card-image{
    width: 4rem;
    height: 4rem;
    border-radius: 15%;
    background-size: cover;
    margin-bottom:0.75rem;

}

.card-image-default{
    width: 4rem;
    height: 4rem;
    border-radius: 15%;
    margin-bottom:0.75rem;
    background-color: #f1f1f1;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-image-default p{
    font-size:1.5rem;
    color: #acacac;
    margin: 0rem;
}

.card-title{
    font-size: 1rem;
    margin-bottom: 0.2rem;
    display: block;

}



.card-text{
    font-size: 0.8rem;
    color: #acacac;
    line-height: 1rem;
}



